<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mctlhg.kkangsam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kkangsam">
        <activity
            android:name=".lab11.JetpackProject"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".lab11.FragmentStateAdaterTest" />
        <activity android:name=".lab11.ViewPager2_Test" />
        <activity android:name=".lab11.Recyclerview_itemDecoration" />
        <activity android:name=".lab11.Recyclerview_Test" />
        <activity android:name=".lab11.FragmentTest" />
        <activity android:name=".lab11.OptionMenuTest" />

        <receiver
            android:name=".lab10.ReplyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".lab10.KakaoNotificationTest" />
        <activity android:name=".lab10.NotificationTest2" />
        <activity android:name=".lab10.NotificationTest" />
        <activity android:name=".lab10.AlertDialogTest" />
        <activity android:name=".lab10.ToastDateTimePicker" />
        <activity android:name=".lab10.PermissionTest" />
        <activity android:name=".lab9.MessangerIntro" />
        <activity android:name=".lab9.DeviceSizeTest" />
        <activity android:name=".lab9.GaroSeroTest" />
        <activity android:name=".lab9.ButtonColor" />
        <activity android:name=".lab8.StopWatchTest" />
        <activity android:name=".lab8.Checkbox_Test" />
        <activity android:name=".lab8.Test1Activity" />
        <activity android:name=".lab7.Telephone_keypad" />
        <activity android:name=".lab6.Kakao_pw" />
        <activity android:name=".lab6.Test6Activity" />
        <activity android:name=".lab6.Test2Activity" />
        <activity android:name=".lab6.Test1Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>